body {
  font-family: Arial, sans-serif;
}

form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

h1{
  text-align: center;
}
p{
  text-align: center;
}